[Desktop Entry]
Name=Zen Browser
Exec=/home/hellopradeep/.local/opt/zen-browser/zen
Icon=web-browser
Type=Application
Categories=Network;WebBrowser;
Terminal=false
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
